// "main":"main.less"
@import (once) "variables.less";

.content() {
  .page-width();
  min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -@footer-height;
  text-align: left;
  &::before {
    display: block;
    content: "";
    height: 80px;
  }
  .queue {

  }
  .append {
    
  }
}
