// "main":"main.less"
@import (once) "variables.less";

.content() {
  .page-width();
  min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -@footer-height;
  text-align: left;
  &::before {
    display: block;
    content: "";
    height: 80px;
  }
  .push {
    height: @footer-height;
  }
  .tabcontrol {
    .tabs {
      .tab {
        .pbc {
          display: block;
          input {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }

  .flex {
    &.row, .row {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .container{
    display: block;
    border: 2px solid @brand-primary;
    margin: 10px 0px;
    &:first-of-type {
      margin-top: 0px;
    }
    &:last-of-type {
      margin-bottom: 0px;
    }
    & > .title{
      background-color: @brand-primary;
      color: #FFF;
      padding: 5px 10px;
    }
    & > .content {
      .list {
        list-style-type: none;
        .item {
          padding: 0px 5px;
          &.current {
            background-color: @background-color-dark;
            color: @brand-accent;
          }
          //width: 100%;
          .title {
            float: left;
            line-height: 30px;
          }
          .pbc {
            float: right;
            //width: 200px;
            margin: 0px;
            margin-left: 5px;
            a {
              height: 30px;
              &:first-child {
                margin-left: 0px;
              }
              &:last-child {
                margin-right: 0px;
              }
              margin-left: 3px;
              margin-right: 3px;
              .fa {
                line-height: 30px;
                vertical-align: middle;
                font-size: 26px;
                width: 26px;
              }
            }
          }
        }
      }
      .queue{
        overflow: auto;
        max-height: 400px;
       }
      .playlists{
        padding: 10px;
        .item{
          list-style-type: none;
          width: 100%;
          &:hover{
              color: @brand-accent;
          }
        }
      }
    }
    & > .append {
      color: #FFF;
      border-top: 1px solid @brand-primary;
      padding: 5px 0px;
    }
  }
}
